@import url("https://fonts.googleapis.com/css?family=Grenze&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to left, #00ccff 0%, #0099ff 100%);
  font-family: "Grenze", serif;
}

.titleText {
  font-family: fantasy;
  color: white;
}

.center-it {
  margin: 0 auto;
}

.bot-border {
  margin-top: 500px;
  border-bottom: 2px solid white;
  margin: 0 auto;
  width: 18rem;
}

.card {
  background: transparent;
}

input[type="checkbox"] {
  position: relative;
  width: 40px;
  height: 20px;
  -webkit-appearance: none;
  background: #c6c6c6;
  outline: none;
  border-radius: 20px;
  box-shadow: inset 0 0 5px rgba(255, 0, 0, 0.2);
  transition: 0.5s;
}
input:checked[type="checkbox"] {
  background: #03a9f4;
}
input[type="checkbox"]:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  top: 0;
  left: 0;
  background: #ffffff;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
input:checked[type="checkbox"]:before {
  left: 20px;
}

.white {
  color: white;
}
